*{
    margin: 0;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#label-form{
    margin-bottom: 10px;
}

.btn-primary{
    display: block;
    margin: auto;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}