*{
    margin:0;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.submit-btn, .back-btn{
    display:block;
    margin:auto;
    padding:10px 40px; 
    /* padding : 10px(top bottom) 40px(left right) */
}